<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsjh.btd.dao.AdminDAO">
    <select id="myPageList" resultType="StaffDTO">
        SELECT * FROM staff_tb;
    </select>
    <select id="profList" resultType="ProfessorDTO">
        SELECT prof.*, depart.depart_name
        FROM btd.department_tb depart
                 INNER JOIN btd.professor_tb prof ON depart.depart_id = prof.depart_id;
    </select>
    <select id="detailProf" resultType="ProfessorDTO">
        SELECT prof.*, depart.depart_name
        FROM btd.department_tb depart
                 INNER JOIN btd.professor_tb prof ON depart.depart_id = prof.depart_id
                    WHERE prof.prof_id =#{prof_id};
    </select>
    <select id="departList" resultType="DepartmentDTO">
        SELECT * FROM department_tb;
    </select>
    <select id="subList" resultType="SubjectDTO">
        SELECT * FROM subject_tb;
    </select>
    <select id="getProfName" resultType="ProfessorDTO">
        SELECT prof_name from professor_tb where depart_id
        IN (select depart_id from department_tb where depart_name= #{depart_name})
    </select>
</mapper>
