<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsjh.btd.dao.MainPageDAO">
    <!-- 전공교과소개 목록 -->
    <select id="subjectList" resultType="SubjectDTO">
        SELECT
            sub_id,
            sub_name
        FROM subject_tb;
    </select>

    <!-- 전공교과소개 내용 -->
    <select id="subjectContent" parameterType="int" resultType="SubjectDTO">
        SELECT
            sub_name,
            sub_type,
            sub_semester,
            sub_year,
            sub_info
        from subject_tb
        where sub_id = #{sub_id};
    </select>

    <!-- 전공교과소개 - 키워드로 검색 -->
    <select id="findSubject" parameterType="String" resultType="SubjectDTO">
        select
            sub_id,
            sub_name,
            sub_type,
            sub_semester,
            sub_year,
            sub_info
        from subject_tb
        where sub_name like concat('%', #{searchString}, '%');
    </select>

    <!-- 교과과정 -->
    <select id="subjectDetailInfo" resultType="SubjectDetailDTO">
        select
            sub_tb.sub_year,
            sub_tb.sub_semester,
            sub_tb.sub_name,
            sub_tb.sub_type,
            subDe_tb.sub_detail_type,
            subDe_tb.sub_detail_exam,
            subDe_tb.sub_detail_project,
            subDe_tb.sub_detail_substitute
        from subject_detail_tb as subDe_tb
        join subject_tb as sub_tb
            on subDe_tb.sub_id = sub_tb.sub_id;
    </select>

    <!-- 교과과정 - 키워드로 검색 -->
    <select id="findSubDetail" parameterType="String" resultType="SubjectDetailDTO">
        select
            sub_tb.sub_year,
            sub_tb.sub_semester,
            sub_tb.sub_name,
            sub_tb.sub_type,
            subDe_tb.sub_detail_type,
            subDe_tb.sub_detail_exam,
            subDe_tb.sub_detail_project,
            subDe_tb.sub_detail_substitute
        from subject_detail_tb as subDe_tb
            join subject_tb as sub_tb
                on subDe_tb.sub_id = sub_tb.sub_id
        where sub_tb.sub_name like concat('%', #{searchString}, '%');
    </select>

    <!-- 교수진 목록 -->
    <select id="professorList" resultType="ProfessorDTO">
        select
            prof_tb.prof_id,
            prof_name,
            prof_img,
            prof_email,
            prof_tel,
            depart_name,
            group_concat(sub_name SEPARATOR ', ') as sub_name
        from professor_tb prof_tb
                 join department_tb depart_tb
                      on depart_tb.depart_id = prof_tb.depart_id
                 join subject_tb sub_id
                      on sub_id.prof_id = prof_tb.prof_id
        group by prof_id;
    </select>

    <!-- 공지사항 목록 -->
    <select id="noticeList" resultType="NoticeDTO">
        select
            notice_id,
            notice_title,
            notice_content,
            notice_type,
            notice_view,
            notice_regdate,
            notice_file1
        from notice_tb
        order by notice_regdate desc;
    </select>

    <!-- 공지사항 - 키워드로 검색 -->
    <select id="findNotice" parameterType="String" resultType="NoticeDTO">
        select
            notice_id,
            notice_title,
            notice_content,
            notice_type,
            notice_view,
            notice_regdate,
            notice_file1
        from notice_tb
        where notice_title like concat('%', #{searchString}, '%')
        order by notice_regdate desc;
    </select>

    <!-- 공지사항 내용 -->
    <select id="noticeContent" parameterType="int" resultType="NoticeDTO">
        select
            notice_id,
            notice_title,
            notice_content,
            notice_type,
            notice_view,
            notice_regdate,
            notice_file1
        from notice_tb
        where notice_id = #{notice_id};
    </select>
</mapper>